<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandyBook_Construction_Android_App"
        tools:targetApi="31">
        <activity
            android:name=".ui.showroom_details.ShowroomDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.book_details.BookDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.professional_details_fragment.ProfessionalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.showroom.ShowroomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.address.add_address.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.address.change_address.ChangeAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.trackorderactivity.TrackOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notificationactivity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cartactivty.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.helpeaqsactivity.HelpEAQsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editprofileactivity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.privacypolicyactivity.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.favoriteacitivity.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.filterActivity.FiltersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.book_an_appointment_activity.BookAnAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.referrals.ReferralsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.aboutusactivity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.orders_fragment.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.filter_category_fragment.Filter_Category_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.location_fragment.CompleteLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.filter_fragment.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homecontainer.HomeContainer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signupactivity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.otpactivity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.loginscreen.LoginScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:exported="false" />
    </application>

</manifest>